<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Foot, Bomb, Roach</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Play Foot, Atomic Bomb, Cockroach</h1>
    </div>
    <div class="container">
      <h2>@Model</h2><br>
        <form action="/result/@Model/foot" method="post">
          <button type="submit">Foot</button>
        </form>
        <form action="/result/@Model/bomb" method="post">
          <button type="submit">Atomic Bomb</button>
        </form>
        <form action="/result/@Model/roach" method="post">
          <button type="submit">Cockroach</button>
        </form>
    </div>
  </body>
</html>
